#video{
    .container{
        .video{
            .video-if{
                margin-left: 168px;
                margin-top: 80px;
            }
           
                
                .video-text{
                    margin-top: 20px;
                    .video1{
                    display: flex;
                    margin-left: 168px;
                          h3{
                    width: 367px;
                    color: var(--base-black, #000);
                    font-family: Rubik;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 108.333% */
                    letter-spacing: -0.4px;
                }
                button{
                    display: flex;
                    padding: 7px 45px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 6px;
                    background: #FFF;
                    border: none;
                    color: #23A6F0;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 315px;
                    cursor: pointer;
                    border-radius: 2x;
                    border: 0.632px solid var(--primary-color, #23A6F0);
                  }
                  button:hover{
                    background: #23A6F0;
                    transition: 1s;
                    color: #FFF;
                  }
                }
                  
               }
            
            }
            .video2{
                display: flex;
                margin: 35px  0 0 140px;
                p{
                    color: rgba(0, 0, 0, 0.50);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0 30px;
                   
                }
            }
          
        }
    }
