@media (max-width:576px){
  
    #profile{
        .container{
            .profile{
                width: 0;
                &--nav{
                    display: none;
                }
            }
        }
    }
}
@media (max-width:768px){
  
    #profile{
        .container{
            .profile{
                width: 0;
                &--nav{
                    display: none;
                }
            }
        }
    }
}