#about {
  .container {
    .about {
      &--block1 {
        margin-top: 181px;
        margin-bottom: 450px;
        margin-left: 160px;
        display: flex;
        justify-content: space-between;
        &__text {
          position: relative;
          h1 {
            color: var(--text-color, #252b42);
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: 0.1px;
            width: 780px;
            z-index: 1;
            left: 64px;
            position: absolute;
          }
        }
        &__image {
          position: relative;
          &--imgCir {
            position: absolute;
            top: -89px;
            right: 115px;
            z-index: 0;
          }
          &--imgRoc {
            position: absolute;
            position: absolute;
            right: 24px;
            top: -111px;
          }
        }
      }
      &--block2 {
        margin-left: 160px;
        &__image {
          position: relative;
          &--img1 {
            position: absolute;
          }
          &--img2 {
            position: absolute;
            top: 171px;
            left: 292px;
          }
          &--img3 {
            position: absolute;
            right: 376px;
          }
          &--img4 {
            position: absolute;
            right: 84px;
            top: 171px;
          }
        }
      }
      &--block3 {
        margin-top: 1200px;
        &__zag {
          h1 {
            margin: 0 0 30px 0;
          }
        }
        &__content {
          display: flex;
          &--image {
            margin-left: 154px;
            margin-right: 30px;
          }

          &--text1 {
            p {
              width: 655px;
              height: 475px;
              color: #000;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: 400;
              line-height: 149.4%;
            }
          }
        }
        &__text2 {
          margin-left: 160px;
          margin-top: 13px;
          p {
            width: 1146px;
            height: 249px;
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 149.4%;
          }
        }
      }
    }
  }
}
