#about {
  .container {
    .about {
      &--block1 {
        margin-top: 181px;
        margin-bottom: 450px;
        margin-left: 101px;
        display: flex;
        justify-content: space-between;
        &__text {
          position: relative;
          h1 {
            color: var(--text-color, #252b42);
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: 0.1px;
            width: 780px;
            z-index: 1;
            left: 64px;
            position: absolute;
          }
        }
        &__image {
          position: relative;
          &--imgCir {
            position: absolute;
            top: -89px;
            right: 115px;
            z-index: 0;
          }
          &--imgRoc {
            position: absolute;
            position: absolute;
            right: 24px;
            top: -111px;
          }
        }
      }
      &--block2 {
        margin-left: 160px;
        &__image {
          position: relative;
          &--img1 {
            position: absolute;
          }
          &--img2 {
            position: absolute;
            top: 171px;
            left: 280px;
          }
          &--img3 {
            position: absolute;
            right: 350px;
          }
          &--img4 {
            position: absolute;
            right: 65px;
            top: 171px;
          }
        }
      }
      &--block3 {
        margin-top: 1200px;
        &__zag {
          h1 {
            margin: 0 0 30px 0;
          }
        }
        &__content {
          display: flex;
          &--image {
            margin-left: 154px;
            margin-right: 30px;
          }

          &--text1 {
            p {
              width: 655px;
              height: 475px;
              color: #000;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: 400;
              line-height: 149.4%;
            }
          }
        }
        &__text2 {
          margin-left: 160px;
          margin-top: 13px;
          p {
            width: 1146px;
            height: 249px;
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 149.4%;
          }
        }
      }
    }
  }
}





@media (max-width : 1440px) {
  #about{
    .container{
      width: 90%;
    }
  }
  
}
@media (max-width : 1400px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 29px;
              font-weight: 700;
              line-height: 52px;
              letter-spacing: 0.1px;
              width: 680px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 233px;
              height: 415px;
            }
            &--img2 {
              position: absolute;
              right: 332px;
              width: 233px;
              height: 415px;
            }
            &--img3 {
              position: absolute;
              right: 332px;
              width: 233px;
              height: 415px;
            }
            &--img4 {
              position: absolute;
              right: 65px;
              top: 171px;
              width: 233px;
              height: 415px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 1290px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 27px;
              font-weight: 700;
              line-height: 52px;
              letter-spacing: 0.1px;
              width: 640px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 24px;
              top: -111px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 1290px) {
  #about{
    .container{
      .about{
        &--block1{
         
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 27px;
              font-weight: 700;
              line-height: 52px;
              letter-spacing: 0.1px;
              width: 640px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 63px;
              z-index: 0;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: -14px;
              top: -111px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 1200px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 22px;
              font-weight: 700;
              line-height: 40px;
              letter-spacing: 0.1px;
              width: 570px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 300px;
              height: 300px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 60px;
              top: -111px;
              width: 400px;
              height: 400px;
            }
          }
        
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 170px;
              height: 329px;
            }
            &--img2 {
              position: absolute;
              left: 228px;
              width: 170px;
              height: 329px;
            }
            &--img3 {
              position: absolute;
              right: 290px;
              width: 170px;
              height: 329px;
            }
            &--img4 {
              position: absolute;
              right: 65px;
              top: 171px;
              width: 170px;
              height: 329px;
            }
          }
        }
        &--block3 {
          margin-top: 1200px;
          &__zag {
            h1 {
              margin: 0 0 30px 0;
            }
          }
          &__content {
            display: flex;
            &--image {
              margin-left: 106px;
              margin-right: 30px;
            }
  
            &--text1 {
              p {
                width: 486px;
                height: 475px;
                color: #000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 400;
                line-height: 149.4%;
              }
            }
          }
          &__text2 {
            margin-left: 102px;
            margin-top: 13px;
            p {
              width: 975px;
              height: 249px;
              color: #000;
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 400;
              line-height: 149.4%;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width : 1150px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 700;
              line-height: 40px;
              letter-spacing: 0.1px;
              width: 540px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 300px;
              height: 300px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 60px;
              top: -111px;
              width: 400px;
              height: 400px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 1070px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 700;
              line-height: 40px;
              letter-spacing: 0.1px;
              width: 480px;
              z-index: 1;
              left: 64px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 300px;
              height: 300px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 60px;
              top: -111px;
              width: 400px;
              height: 400px;
            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 170px;
              height: 329px;
            }
            &--img2 {
              position: absolute;
              left: 188px;
              width: 170px;
              height: 329px;
            }
            &--img3 {
              position: absolute;
              right: 244px;
              width: 170px;
              height: 329px;
            }
            &--img4 {
              position: absolute;
              right: 65px;
              top: 171px;
              width: 170px;
              height: 329px;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width : 1000px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0.1px;
              width: 400px;
              z-index: 1;
              left: 54px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 300px;
              height: 300px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 60px;
              top: -111px;
              width: 400px;
              height: 400px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 992px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0.1px;
              width: 400px;
              z-index: 1;
              left: 54px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 270px;
              height: 270px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 92px;
              top: -111px;
              width: 300px;
              height: 300px;
            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 126px;
              height: 228px;
            }
            &--img2 {
              position: absolute;
              left: 150px;
              width: 126px;
              height: 228px;
            }
            &--img3 {
              position: absolute;
              right: 295px;
              width: 126px;
              height: 228px;
            }
            &--img4 {
              position: absolute;
              right: 140px;
              top: 171px;
              width: 126px;
              height: 228px;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width : 940px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 14px;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0.1px;
              width: 360px;
              z-index: 1;
              left: 54px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 270px;
              height: 270px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 92px;
              top: -111px;
              width: 300px;
              height: 300px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 880px) {
  #about{
    .container{
      .about{
        &--block1{
          &__text{
            h1{
              color: var(--text-color, #252b42);
              font-family: Montserrat;
              font-size: 12px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.1px;
              width: 270px;
              z-index: 1;
              left: 44px;
              position: absolute;

            }
          }
          &__image {
            position: relative;
            &--imgCir {
              position: absolute;
              top: -89px;
              right: 115px;
              z-index: 0;
              width: 270px;
              height: 270px;
            }
            &--imgRoc {
              position: absolute;
              position: absolute;
              right: 92px;
              top: -111px;
              width: 300px;
              height: 300px;
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 768px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 250px;
      
         
          &__text{
          
          
            h1{
              width: 400px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 26px;
              font-style: normal;
              font-weight: 700;
              line-height: 35px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: 43px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: 115px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 212px;
              right: 100px;
              z-index: 0;
              width: 361px;
              height: 358px
            }
            &--imgRoc {
                top: 200px;
                right: 78px;
                z-index: 0;
                width: 395px;
                height: 394px
            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 306px;
              height: 495px;
              top: 17px;
              bottom: 0;
              left: -107px;
              right: 19px;
            }
            &--img2 {
              position: absolute;
              width: 306px;
              height: 495px;
              top: 229px;
              bottom: 0;
              left: 248px;
              right: 19px;
            }
            &--img3 {
              position: absolute;
              width: 306px;
              height: 495px;
              top: 567px;
              bottom: 0;
              left: -107px;
              right: 19px;
            }
            &--img4 {
              position: absolute;
              width: 306px;
              height: 495px;
              top: 773px;
              bottom: 27px;
              left: 248px;
              right: 19px;
            }
          }
        }
        &--block3 {
          margin-top: 1775px;
         
          flex-direction: column;
          
          &__zag {
            h1 {
              margin: 0 0 30px 0;
            }
          }
          &__content {
            flex-direction: column;
            &--image {
              margin-left: 142px;
            }
  
            &--text1 {
              
              p {
                width: 486px;
                height: 475px;
                color: #000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 400;
                line-height: 149.4%;
                margin: 20px 150px;
                flex-direction: column;
              }
            }
          }
          &__text2 {
            margin-left: 102px;
            margin-top: 13px;
            p {
              // width: 975px;
              // height: 249px;
              // color: #000;
              // font-family: Montserrat;
              // font-size: 20px;
              // font-weight: 400;
              // line-height: 149.4%;
              // flex-direction: column;
              display: none;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width : 700px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 513px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 23px;
              font-style: normal;
              font-weight: 700;
              line-height: 35px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -48px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: 115px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 212px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 200px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 650px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 440px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 35px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -48px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: 110px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 212px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 200px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }

      }
    }
  }
  
}

@media (max-width : 576px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
                  width: 652px      ;  
                color: var(--text-color, #252B42);
                  text-align: center;
                  font-family: Rubik;
                  font-size: 40px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 35px;
                  letter-spacing: 0.1px;
                  margin-top: 162px  ; 
                   left:  -94px;
              
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: -6px;
            z-index: 2; 
           
;

           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 17px;
              bottom: 0;
              left: -107px;
              right: 19px;
            }
            &--img2 {
              position: absolute;
              width: 260px;  
              height: 475px  ;   
              top:  229px;
              bottom: 0;  
              left:  205px;
              right: 19px;
          
            }
            &--img3 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 567px;
              bottom: 0;
              left: -107px;
              right: 19px;
            }
            &--img4 {
              position: absolute;
              width: 260px
          ;    height: 
          475px
          ;    top: 
          773px;
              bottom: 27px
          ;    left: 
          195px;
              right: 19px
          ;
          
            }
          }
        }
        &--block3 {
          margin-top: 1800px;
          &__zag {
            h1 {
              margin: 0 0 30px 122px;

            }
          }
          &__content {
            display: flex;
            &--image {
              margin-right: 30px;
              margin-left: 100px
            }
  
            &--text1 {
              p {
                    width: 486px ; 
                    height:  475px;
                    color: #000;
                    font-family: Montserrat;    font-size: 20px;
                    font-weight: 400;
                    line-height: 149.4%;
                    margin: 20px
                 103px
                ;
                
              }
            }
          }
          &__text2 {
            margin-left: 160px;
            margin-top: 13px;
            p {
              width: 1146px;
              height: 249px;
              color: #000;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: 400;
              line-height: 149.4%;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width : 520px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 375px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -31px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: 34px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 490px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 375px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -44px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: 9px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 451px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 553px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 35px;
              font-style: normal;
              font-weight: 700;
              line-height: 40px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -67px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: -85px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }
        &--block2 {
          margin-left: 160px;
          &__image {
            position: relative;
            &--img1 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 17px;
              bottom: 0;
              left: -137px;
              right: 19px;
            }
            &--img2 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 229px;
              bottom: 0;
              left: 150px;
              right: 19px;
            }
            &--img3 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 567px;
              bottom: 0;
              left: -129px;
              right: 19px;
            }
            &--img4 {
              position: absolute;
              width: 260px;
              height: 475px;
              top: 773px;
              bottom: 27px;
              left: 144px;
              right: 19px;
            }
          }
        }
      }
    }
  }
  
}

@media (max-width : 376px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 553px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 33px;
              font-style: normal;
              font-weight: 700;
              line-height: 40px;
              letter-spacing: 0.1px;
              margin-top: 162px;
              left: -67px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: -140px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 270px;
              height: 270px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 330px;
                height: 330px
            }
          }
        }

      }
    }
  }
  
}
@media (max-width : 320px) {
  #about{
    .container{
      .about{
  
        &--block1{
          margin-top: 190px;
      
         
          &__text{
          
          
            h1{
              width: 525px;
              color: var(--text-color, #252B42);
              text-align: center;
              font-family: Rubik;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: 35px;
              letter-spacing: 0.1px;
              margin-top: 90px;
              left: -69px;
          

            }
          }
          &__image {
            position: absolute;
            top: -89px;
            right: -156px;
            z-index: 2; 
           
            &--imgCir {
              position: absolute;
              top: 227px;
              right: 100px;
              z-index: 0;
              width: 190px;
              height: 190px
            }
            &--imgRoc {
                top: 205px;
                right: 78px;
                z-index: 0;
                width: 250px;
                height: 250px
            }
          }
        }

      }
    }
  }
  
}






























