#main{
    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px  0  55px 158px;

        .main-text{
           
            h1{
                width: 682px;
                color: #0B132A;
                font-family: Rubik;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px; 
                margin-top: -110px;
            } 
            p{
                color: #4F5665;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                width: 555px;
                margin-top: 12px;
            }
            .btn{
                margin-top: 58px;
                display: inline-flex;
                padding: 17px 96px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                background: #23A6F0;
                box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.70);
                border: none;
                color: #FFF;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px; 
            }
        } 
    }
    
}


@media (max-width : 1440px) {
  #main{
    .container{
      .main{
      }
    }
  }
}


@media (max-width : 1400px) {
  #main{
    .container{
      .main{
        .main-text{
          h1{
            width: 682px;
            color: #0B132A;
            font-family: Rubik;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px; 
            margin-top: -110px;
        } 
        p{
            color: #4F5665;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            width: 555px;
            margin-top: 12px;
        }
        .btn{
            margin-top: 58px;
            display: inline-flex;
            padding: 17px 96px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: #23A6F0;
            box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.70);
            border: none;
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px; 
        }
    
        }

      }
     
    }
  }
}
@media (max-width : 1200px) {
  #main{
    .container{
      .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px 0 55px 158px;
    
        .main-img{
          width: 380px;
          height: 340px;
          margin-top: -35px;
        }
        .main-text{
          h1{
            width: 474px;
            color: #0B132A;
            font-family: Rubik;
            font-size: 33px;
            font-style: normal;
            font-weight: 700;
            line-height: 41px;
            margin-top: -110px;
        } 
        p{
          color: #4F5665;
          font-family: Rubik;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          width: 449px;
          margin-top: 12px;
        }
        .btn{
          margin-top: 33px;
          display: inline-flex;
          padding: 11px 56px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: -1px;
          background: #23A6F0;
          box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.7);
          border: none;
          color: #FFF;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 25px;
        }
    
        }

      }
     
    }
  }
}
@media (max-width : 992px) {
  #main{
    .container{
      .main{
       
        .main-text{
          h1{
            width: 300px;
            color: #0B132A;
            font-family: Rubik;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            margin-top: -110px;
        } 
        p{
          color: #4F5665;
          font-family: Rubik;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
          width: 284px;
          margin-top: 12px;
        }
        .btn{
          margin-top: 27px;
          display: inline-flex;
          padding: 11px 61px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          background: #23A6F0;
          box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.7);
          border: none;
          color: #FFF;
          font-family: Rubik;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 25px;
        }
    
        }

      }
     
    }
  }
}

  @media (max-width : 768px) {
    #main{
      .container{
        .main{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 110px 0;
          img{
            margin-left: 80px;
          }
          .main-text{
            margin-left: 80px;

            h1{
              width: 567px;
              color: #0B132A;
              font-family: Rubik;
              font-size: 35px;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;
              margin-top: 0px;
      
            }
            p{
              color: #4F5665;
              font-family: Rubik;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              width: 476px;
              margin-left: 40px;
          }
          .btn{
              margin-top: 50px;
              display: inline-flex;
              padding: 25px 96px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              background: #23A6F0;
              box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.70);
              border: none;
              color: #FFF;
              font-family: Rubik;
              font-size: 27px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px; 
              width: 480px;
          }
      
          }

        }
       
      }
    }
  }

  @media (max-width : 576px) {
    #main{
      .container{
        .main{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 50px 0;
          img{
            margin-left: 180px;
          }
          .main-text{
            margin-left: 70px;

            h1{
              width: 467px;
              color: #0B132A;
              font-family: Rubik;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;
              margin-top: 0px;
      
            }
            p{
              color: #4F5665;
              font-family: Rubik;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              width: 470px;
              margin-left: -10px;
            }
          .btn{
              margin-top: 50px;
              display: inline-flex;
              padding: 20px 96px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              background: #23A6F0;
              box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.70);
              border: none;
              color: #FFF;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px; 
              width: 400px;
          }
      
          }

        }
       
      }
    }
  }

  @media (max-width : 451px) {
    #main{
      .container{
        .main{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 50px 0;
          img{
            margin-left: 180px;
          }
          .main-text{
            margin-left: 130px;

            h1{
              width: 467px;
              color: #0B132A;
              font-family: Rubik;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;
              margin-top: 0px;
      
            }
            p{
              color: #4F5665;
              font-family: Rubik;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              width: 409px;
              margin-left: 30px;
            }
          .btn{
              margin-top: 50px;
              display: inline-flex;
              padding: 20px 96px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              background: #23A6F0;
              box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.70);
              border: none;
              color: #FFF;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px; 
              width: 400px;
          }
      
          }

        }
       
      }
    }
  }
  @media (max-width : 376px) {
    #main{
      .container{
        .main{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 50px 0;
          img{
            margin-left: 240px;
          }
          .main-text{
            margin-left: 200px;

            h1{
              width: 467px;
              color: #0B132A;
              font-family: Rubik;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;
              margin-top: 0px;
      
            }
            p{
              color: #4F5665;
              font-family: Rubik;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              width: 409px;
              margin-left: 30px;
            }
          .btn{
              margin-top: 50px;
              display: inline-flex;
              padding: 20px 96px;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              background: #23A6F0;
              border: none;
              color: #FFF;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 25px; 
              width: 400px;
          }
      
          }

        }
       
      }
    }
  }
  @media (max-width : 320px) {
    #main{
      .container{
        .main{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 85px 0;
          .main-img{
            margin-left: 225px;
            width: 295px;
            height: 285px;
          }
          .main-text{
            margin-left: 130px;

            h1{
              width: 340px;
              color: #0B132A;
              font-family: Rubik;
              font-size: 25px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px;
              margin-left: 80px;
      
            }
            p{
              color: #4F5665;
              font-family: Rubik;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              width: 409px;
              margin-left: 45px;
            }
          .btn{
            margin-top: 50px;
            display: inline-flex;
            padding: 29px 190px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #23A6F0;
            border: none;
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            width: 350px;
            margin-left: 28px;
          }
      
          }

        }
       
      }
    }
  }




 