@media (max-width: 1400px) {
    
}
@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
    #chat .container .chat--group {
        zoom: 70%;
    }
    #profile .container .profile--nav {
        margin-left: 145px;
        margin-top: 30px;
        zoom: 74%;
    }
    #profile .container .profile {
       
        width: 236px;
        height: 732px;
        
    }
    #user .container .user--blocks__block2 {
        
        height: 865px;
       
    }
    #chat .container .chat {
       
        width: 618px ;
    }
    #chat .container .chat--ira__message--hello2 {
        width: 19%;
    }
    #chat .container .chat--ira__message--hello1 {
        width: 19%;
    }
    #chat .container .chat--ira__message--howAreYou {
        width: 14%;  
    }
    #chat .container .chat--ira__message--good {
        width: 19%; 
    }
    
    

}
@media (max-width: 1024px) {
  
}
@media (max-width: 1024px) {
  
}