#lessons{
    .container{
        .lessons{
               
              .lesson-text{
                margin: 0 400px;
                h1{
                      width: 447.805px;
                      color: #0B132A;
                      text-align: center;
                      font-family: Rubik;
                      font-size: 35px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 50px; 
                      margin-left: 100px;
                      bottom: 210px;
                }
                p{ 
                    margin: 20px 0;
                    width: 555px;
                    color: #4F5665;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    margin-right: 0px;
                    margin-left: 50px;

                }
              }
        }
    }
}

@media (max-width: 1440px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{

                    }
                }
            }
        }
    }
    
}
@media (max-width: 1400px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 1200px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 992px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 768px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    margin-left: 65px;
                    h1{
                        margin-left: 20px;
                        width: 498px;
                        color: #0B132A;
                        font-family: Rubik;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 70px;
                     
                    }
                    p{
                        margin: 12px 0;
                        width: 555px;
                        color: #4F5665;
                        font-family: Rubik;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; 
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 576px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    margin-left: 75px;
                    h1{
                        margin-left: 20px;
                        width: 498px;
                        color: #0B132A;
                        font-family: Rubik;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 70px;
                     
                    }
                    p{
                        margin: 12px 0;
                        width: 555px;
                        color: #4F5665;
                        font-family: Rubik;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; 
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 451px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    margin-left: 45px;
                    h1{
                        margin-left: 20px;
                        width: 498px;
                        color: #0B132A;
                        font-family: Rubik;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 70px;
                     
                    }
                    p{
                        margin: 12px 0;
                        width: 555px;
                        color: #4F5665;
                        font-family: Rubik;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; 
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 376px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{
                        
                    }
                }
            }
        }
    }
    
}
@media (max-width: 320px ) {
    #lessons{
        .container{
            .lessons{
                .lesson-text{
                    h1{

                    }
                    p{
                        
                    }
                }
            }
        }
    }
    
}