#pages {
    margin: 140px 170px;
    .pages {
      span {
        background: none;
        border: none;
        font-size: 20px;
        font-weight: 500;
      }
      h3 {
        width: 615px;
        flex-shrink: 0;
        color: var(--base-black, #000);
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 130% */
        letter-spacing: -0.4px;
      }
      &--we {
        display: flex;
        flex-direction: column;
        &__left {
          width: 1140px;
          cursor: pointer;
          overflow: hidden;
          border-bottom: 1px solid rgb(232, 232, 232);
          transition: .4s;
          height: 80px;
           
          &--title {
            display: flex;
            justify-content: space-between;
           
           
            
  
            &__accord {
              height: 300px;
              margin: 1.4rem 0;
              font-size: 1.2rem;
              font-weight: 500;
              color: white;
              &--btn {
                 background: none;
                 border: none;
  
                &__icon {
                  width: 24px;
                  height: 24px;
                  border-radius: 48px;
                  background: #23A6F0;
                
                  
                }
                &__down {
                  color: blue;
                  width: 24px;
                  height: 24px;
                  border-radius: 48px;
                  background: #ffffff;
                 
                }
  
                &__answer {
                   display: flex;
                   align-items: center;
                 &--vid{
                  padding-top: 100px;
                  iframe{
                    border-radius: 20px;
                  }
                 }
                 
                  p{
                    width: 800px;
                  }
                  h3 {
                    width: 615px;
                    flex-shrink: 0;
                    color: var(--base-black, #000);
                    font-family: Rubik;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 130% */
                    letter-spacing: -0.4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  @media (max-width : 1440px) {
    #pages {
      margin: 140px 170px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 615px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 1140px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: .4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
  @media (max-width : 1440px) {
    #pages {
      margin: 140px 170px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 615px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 1140px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: .4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }

  @media (max-width : 1200px) {
    #pages {
      margin: 140px 90px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 615px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 1140px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: .4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
  @media (max-width : 992px) {
    #pages {
      margin: 140px 90px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 615px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 1140px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: .4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
  @media (max-width : 768px) {
    #pages {
      margin: 140px 90px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 615px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 637px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: 0.4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
  @media (max-width : 576px) {
    #pages {
      margin: 140px 40px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 573px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 600px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: 0.4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
  @media (max-width : 400px) {
    #pages {
      margin: 140px 12px;
      .pages {
        span {
          background: none;
          border: none;
          font-size: 20px;
          font-weight: 500;
        }
        h3 {
          width: 497px;
          flex-shrink: 0;
          color: var(--base-black, #000);
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 130% */
          letter-spacing: -0.4px;
        }
        &--we {
          display: flex;
          flex-direction: column;
          &__left {
            width: 546px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid rgb(232, 232, 232);
            transition: 0.4s;
            height: 80px;
             
            &--title {
              display: flex;
              justify-content: space-between;
             
             
              
    
              &__accord {
                height: 300px;
                margin: 1.4rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                &--btn {
                   background: none;
                   border: none;
    
                  &__icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #23A6F0;
                  
                    
                  }
                  &__down {
                    color: blue;
                    width: 24px;
                    height: 24px;
                    border-radius: 48px;
                    background: #ffffff;
                   
                  }
    
                  &__answer {
                     display: flex;
                     align-items: center;
                   &--vid{
                    padding-top: 100px;
                    iframe{
                      border-radius: 20px;
                    }
                   }
                   
                    p{
                      width: 800px;
                    }
                    h3 {
                      width: 615px;
                      flex-shrink: 0;
                      color: var(--base-black, #000);
                      font-family: Rubik;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 130% */
                      letter-spacing: -0.4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }