@import './components/Header/index.scss';
@import './components/Main/index.scss';
@import './components/Blocks/index.scss';
@import './components/Course/index.scss';
 
 *{
  margin: 0;
  padding: 0;
 }
 .container{
  width: 90%;
 }
