* {
  @import "./components/reg/style.scss";
  @import "./components/Header/index.scss";
  @import "./components/Main/index.scss";
  @import "./components/Blocks/index.scss";
  @import "./components/Course/index.scss";
  @import "../src/components/aboutUs/style.scss";
  @import "../src/components/Footer/style.scss";
  * {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 90%;
  }
}

 
 *{
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
}
